USE [master]
GO
/****** Object:  Database [ReconciledDataLayer]    Script Date: 04/03/2026 00:23:44 ******/
CREATE DATABASE [ReconciledDataLayer]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ReconciledDataLayer', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ReconciledDataLayer.mdf' , SIZE = 466944KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ReconciledDataLayer_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ReconciledDataLayer_log.ldf' , SIZE = 532480KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ReconciledDataLayer].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ReconciledDataLayer]
GO
/****** Object:  Table [dbo].[Accommodations]    Script Date: 04/03/2026 00:23:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accommodations](
	[code] [nvarchar](16) NOT NULL,
	[name] [nvarchar](25) NOT NULL,
	[description] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Accommodations] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Airlines]    Script Date: 04/03/2026 00:23:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Airlines](
	[code] [nvarchar](3) NOT NULL,
	[description] [nvarchar](50) NOT NULL,
	[bsp] [bit] NOT NULL,
 CONSTRAINT [PK_Airlines] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Airports]    Script Date: 04/03/2026 00:23:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Airports](
	[iata] [nvarchar](3) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[city] [nvarchar](50) NOT NULL,
	[country] [nvarchar](3) NOT NULL,
	[area] [nvarchar](3) NOT NULL,
 CONSTRAINT [PK_Airports2] PRIMARY KEY CLUSTERED 
(
	[iata] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Areas]    Script Date: 04/03/2026 00:23:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Areas](
	[code] [nvarchar](3) NOT NULL,
	[description] [nvarchar](100) NOT NULL,
	[tour] [bit] NOT NULL,
	[package] [bit] NOT NULL,
	[convention] [bit] NOT NULL,
	[catalog] [bit] NOT NULL,
	[study] [bit] NOT NULL,
 CONSTRAINT [PK_Areas] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Banks]    Script Date: 04/03/2026 00:23:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banks](
	[code] [nvarchar](15) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[address] [nvarchar](50) NULL,
	[postalcode] [nvarchar](10) NULL,
	[city] [nvarchar](15) NULL,
	[province] [nvarchar](2) NULL,
 CONSTRAINT [PK_Banks] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bundles]    Script Date: 04/03/2026 00:23:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bundles](
	[code] [nvarchar](3) NOT NULL,
	[description] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Bundles] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 04/03/2026 00:23:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[code] [nvarchar](3) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[state] [nvarchar](2) NULL,
	[country] [nvarchar](2) NOT NULL,
	[latitude] [float] NOT NULL,
	[longitude] [float] NOT NULL,
 CONSTRAINT [PK_Cities] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 04/03/2026 00:23:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[code] [nvarchar](3) NOT NULL,
	[description] [nvarchar](50) NOT NULL,
	[area] [nvarchar](3) NULL,
	[currency] [nvarchar](3) NULL,
	[initials] [nvarchar](2) NULL,
	[isocode] [nvarchar](3) NULL,
 CONSTRAINT [PK_Nations] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Currencies]    Script Date: 04/03/2026 00:23:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Currencies](
	[code] [nvarchar](3) NOT NULL,
	[description] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Currencies] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Facilities]    Script Date: 04/03/2026 00:23:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facilities](
	[id] [int] NOT NULL,
	[service] [nvarchar](5) NOT NULL,
	[description] [nvarchar](255) NOT NULL,
	[supplier] [int] NOT NULL,
	[eurocost] [float] NOT NULL,
	[eurosale] [float] NOT NULL,
	[currency] [nvarchar](3) NOT NULL,
	[currencycost] [float] NOT NULL,
	[datefrom] [datetime] NOT NULL,
	[dateto] [datetime] NOT NULL,
	[city] [nvarchar](3) NOT NULL,
	[nation] [nvarchar](3) NOT NULL,
	[area] [nvarchar](3) NOT NULL,
 CONSTRAINT [PK_Facilities] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Flights]    Script Date: 04/03/2026 00:23:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Flights](
	[id] [nvarchar](50) NOT NULL,
	[number] [nvarchar](15) NOT NULL,
	[clientcode] [nvarchar](10) NOT NULL,
	[client] [nvarchar](100) NOT NULL,
	[amount] [float] NOT NULL,
	[tax] [float] NOT NULL,
	[commission] [float] NOT NULL,
	[airline] [nvarchar](3) NOT NULL,
	[segments] [int] NOT NULL,
	[date] [datetime] NOT NULL,
	[iata] [nvarchar](50) NOT NULL,
	[operator] [nvarchar](15) NOT NULL,
	[src] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_Flights] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hotels]    Script Date: 04/03/2026 00:23:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hotels](
	[id] [nvarchar](50) NOT NULL,
	[code] [nvarchar](50) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[address] [nvarchar](255) NOT NULL,
	[postalcode] [nvarchar](10) NULL,
	[city] [nvarchar](3) NOT NULL,
	[province] [nvarchar](2) NULL,
	[region] [nvarchar](3) NULL,
	[nation] [nvarchar](3) NOT NULL,
	[area] [nvarchar](3) NULL,
	[category] [nvarchar](7) NULL,
	[currency] [nvarchar](3) NULL,
	[phone] [nvarchar](13) NULL,
	[email] [nvarchar](50) NULL,
	[insertdate] [datetime] NOT NULL,
	[src] [nvarchar](11) NULL,
 CONSTRAINT [PK_Hotels] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Municipalities]    Script Date: 04/03/2026 00:23:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Municipalities](
	[name] [nvarchar](50) NOT NULL,
	[province] [nvarchar](2) NOT NULL,
	[region] [int] NOT NULL,
	[istat] [nvarchar](6) NOT NULL,
	[finance] [nvarchar](4) NOT NULL,
 CONSTRAINT [PK_Municipalities] PRIMARY KEY CLUSTERED 
(
	[istat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Operators]    Script Date: 04/03/2026 00:23:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Operators](
	[id] [nvarchar](10) NOT NULL,
	[type] [nvarchar](6) NOT NULL,
	[clientcode] [nvarchar](10) NOT NULL,
	[operatorcode] [nvarchar](10) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[language] [nvarchar](3) NOT NULL,
	[phone] [nvarchar](15) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[corporation] [nvarchar](50) NOT NULL,
	[address] [nvarchar](100) NOT NULL,
	[postalcode] [nvarchar](10) NOT NULL,
	[city] [nvarchar](25) NOT NULL,
	[province] [nvarchar](2) NOT NULL,
	[country] [nvarchar](3) NOT NULL,
	[dateins] [datetime] NOT NULL,
 CONSTRAINT [PK_Operators] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Package]    Script Date: 04/03/2026 00:23:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Package](
	[id] [int] NOT NULL,
	[packageid] [int] NOT NULL,
	[packagename] [nvarchar](50) NOT NULL,
	[bundle] [nvarchar](3) NOT NULL,
	[date] [datetime] NOT NULL,
	[days] [smallint] NOT NULL,
	[nights] [smallint] NOT NULL,
	[passengers] [smallint] NOT NULL,
	[route] [nvarchar](255) NOT NULL,
	[hotel] [int] NOT NULL,
	[accommodation] [nvarchar](15) NOT NULL,
	[flightout] [int] NOT NULL,
	[flightreturn] [int] NOT NULL,
	[schedule] [ntext] NOT NULL,
	[notes] [ntext] NOT NULL,
	[description] [ntext] NOT NULL,
	[features] [ntext] NOT NULL,
	[eurocost] [float] NOT NULL,
	[eurosale] [float] NOT NULL,
	[currency] [nvarchar](3) NOT NULL,
	[currencycost] [float] NOT NULL,
	[currencysale] [float] NOT NULL,
	[extrabasefare] [float] NOT NULL,
	[adult3cost] [float] NOT NULL,
	[adult3sale] [float] NOT NULL,
	[child3cost] [float] NOT NULL,
	[child3sale] [float] NOT NULL,
	[adult4cost] [float] NOT NULL,
	[adult4sale] [float] NOT NULL,
	[child4cost] [float] NOT NULL,
	[child4sale] [float] NOT NULL,
	[singlesupplementcost] [float] NOT NULL,
	[singlesupplementsale] [float] NOT NULL,
	[commission] [float] NOT NULL,
	[markup] [float] NOT NULL,
 CONSTRAINT [PK_Package] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Packages]    Script Date: 04/03/2026 00:23:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Packages](
	[id] [int] NOT NULL,
	[src] [nvarchar](11) NOT NULL,
	[code] [nvarchar](10) NOT NULL,
	[description] [nvarchar](255) NOT NULL,
	[datefrom] [datetime] NOT NULL,
	[dateto] [datetime] NOT NULL,
	[area] [nvarchar](3) NOT NULL,
	[destination] [nvarchar](3) NOT NULL,
	[stay] [nvarchar](3) NOT NULL,
 CONSTRAINT [PK_Packages] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provinces]    Script Date: 04/03/2026 00:23:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provinces](
	[code] [nvarchar](2) NOT NULL,
	[name] [nvarchar](20) NOT NULL,
	[region] [nvarchar](2) NOT NULL,
	[capital] [bit] NOT NULL,
	[municipalities] [int] NOT NULL,
 CONSTRAINT [PK_Provinces] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Regions]    Script Date: 04/03/2026 00:23:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Regions](
	[code] [nvarchar](6) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[country] [nvarchar](3) NOT NULL,
	[provinces] [int] NULL,
	[municipalities] [int] NULL,
	[istat] [nvarchar](2) NULL,
 CONSTRAINT [PK_Regions] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservations]    Script Date: 04/03/2026 00:23:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservations](
	[id] [nvarchar](50) NOT NULL,
	[clientcode] [nvarchar](15) NOT NULL,
	[client] [nvarchar](100) NOT NULL,
	[hotel] [nvarchar](10) NOT NULL,
	[accommodation] [nvarchar](10) NOT NULL,
	[amount] [float] NOT NULL,
	[commission] [float] NOT NULL,
	[guests] [int] NOT NULL,
	[nights] [int] NOT NULL,
	[datefrom] [datetime] NOT NULL,
	[dateto] [datetime] NOT NULL,
	[operator] [nvarchar](15) NOT NULL,
	[dateinsert] [datetime] NOT NULL,
	[src] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_Reservations] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Segments]    Script Date: 04/03/2026 00:23:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Segments](
	[flight] [nvarchar](50) NOT NULL,
	[segment] [int] NOT NULL,
	[departure] [nvarchar](5) NOT NULL,
	[arrival] [nvarchar](5) NOT NULL,
	[src] [nvarchar](15) NULL,
 CONSTRAINT [PK_Segments] PRIMARY KEY CLUSTERED 
(
	[flight] ASC,
	[segment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 04/03/2026 00:23:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[id] [int] NOT NULL,
	[code] [nvarchar](5) NOT NULL,
	[description] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Services] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stations]    Script Date: 04/03/2026 00:23:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stations](
	[name] [nvarchar](50) NOT NULL,
	[city] [nvarchar](25) NOT NULL,
	[country] [nvarchar](3) NOT NULL,
 CONSTRAINT [PK_Stations] PRIMARY KEY CLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 04/03/2026 00:23:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[id] [nvarchar](50) NOT NULL,
	[number] [nvarchar](15) NOT NULL,
	[clientcode] [nvarchar](10) NOT NULL,
	[client] [nvarchar](100) NOT NULL,
	[amount] [float] NOT NULL,
	[commission] [float] NOT NULL,
	[carrier] [nvarchar](25) NOT NULL,
	[departure] [nvarchar](50) NOT NULL,
	[arrival] [nvarchar](50) NOT NULL,
	[date] [datetime] NOT NULL,
	[operator] [nvarchar](15) NOT NULL,
	[src] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_Tickets] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'non-commissionable extra base fare' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Package', @level2type=N'COLUMN',@level2name=N'extrabasefare'
GO
USE [master]
GO
